@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    /* --background: 250 249 246; */
    --background: 255 255 255;
    --foreground: 51 51 51;

    --primary: 174 190 148;

    --secondary: 120 55 42;
  }
}
 
@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .bg-foreground-ghost {
    @apply bg-foreground/10;
  }

  .bg-primary-ghost {
    @apply bg-primary/10
  }

  .bg-secondary-ghost {
    @apply bg-secondary/10
  }
}